@font-face {
    font-family: oswald;
    src: url('fonts/Oswald-VariableFont_wght.ttf');
}
@font-face {
    font-family: monoton;
    src: url('fonts/monoton/Monoton-Regular.ttf');
}
@font-face {
    font-family: alletra-stencil;
    src: url('fonts/alletra_stencil/AllertaStencil-Regular.ttf');
}
@font-face {
    font-family: sketch;
    src: url('fonts/cabin_sketch/CabinSketch-Regular.ttf');
}
@font-face {
    font-family: kelly;
    src: url('fonts/kelly_slab/KellySlab-Regular.ttf');
}

@font-face {
    font-family: open-sans;
    src: url('fonts/open_sans/OpenSans.ttf');
}

/* support for the material design icons */
@font-face {
    font-family: 'material-icons';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/material-icons/material-icons.woff2') format('woff2');
}
.material-icons {
    font-family: 'material-icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    padding: .5rem;
    direction: ltr;
    /* border: .02rem solid rgb(57, 53, 53, .8); */
    border-radius: 50%;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.material-icons.md-large{
    font-size: 8rem;
}
.material-icons.md-dark {
    color: rgba(50, 50, 50, 0.99);
}
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .8rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 60%;
    /* height: 100%; */
}

ul > a {
    text-decoration: none;
    
}

body{
    margin: 0;
    padding: 0;
    background: url("assets/arch_backgroud.jpg");
   
}

.logo {
    height: 60%;
    margin-left: .9rem;
    /* font-family: monoton;
    color:#FDFCFC;
    font-size: 1.5rem;
    border:5pt solid #FDFCFC;
    margin: .4rem; */
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(38, 48, 53, .56);
    backdrop-filter: blur(.4rem);
   
}
.menu-btn{
    display: none;
}
.intro-container {
    height: 80vh;
}
.intro {
    background-color: #fdfcfca1;
    /* backdrop-filter: blur(.8rem); */
    /* position: absolute; */
    margin-top: 10rem;
    margin-left: 10rem;
    width: 70%;
    padding: .6rem;
    text-align: center;
}
.intro-heading {
    font-family: kelly;
    text-transform: uppercase;
    color: rgb(49, 48, 48, .9);
    /* transform: translateY(-5rem); */
}
.into-body {
    font-family: sketch;
    font-size: 2.8rem;
}

.list-item{
    padding: .6rem;
    font-family: oswald;
    color: #FDFCFC;
    font-size: 1.4rem;
    
}
.close-icon {
    display: none;
    margin-top: 2rem;
}
.list-item::after {
    content: '';
    display: block;
    width: 0;
    height: .2rem;
    background: rgb(57, 53, 53, .8);
    transition: width .3s;
}

.list-item:hover::after {
    width: 100%;
    color: #FFFFFF;
    /* transition: width .3s; */
}
.active::after {
    content: '';
    display: block;
    width: 100%;
    height: .2rem;
    background: rgb(57, 53, 53, .8);
}

@media (max-width: 35em) {
    .list-item {
        display: none;
    }
    ul {
        width: 100%;
    }
    .menu-btn {
        display: block;
        padding-right: 1.5rem;
    }
    .intro {
        margin-top: 10rem;
        margin-left: 0;
        width: 100%;
        /* right: 0; */
    }
    .intro-heading {
        font-size: 1.9rem;
    }
    .into-body {
        font-size: 1.9rem;
    }
}


.menu-btn-mobile {
        display: block;
        z-index: 1000;
}
.flex-mobile {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
} 
.header-mobile {
        position: absolute;
        width: 60%;
        height: 100vh;
        z-index: 100;
        right: 0;
        /* transform: translateX(100%); */
}

.logo-mobile {
        margin-top: 1.5rem;
        
}
.intro-mobile{
        display: none;
}
.list-item-mobile {
    display: block;
}
.logo-hidden {
    display: none;
}
.close-icon-open {
    display: block;
}
.services {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.services-container {
    background: #f5f1f148;
   
}
.services-header{
    margin: auto;
    text-align: center;
   
   
}
.services-heading {
 font-family: oswald;
 font-size: 2rem;
 color: rgb(49, 48, 48, .9);
}
.services-heading::after{
    content: '';
    display: block;
    width: 40%;
    height: .5rem;
    background: rgb(57, 53, 53, .8);
    margin: auto;
}
.services-card{
    width: 80%;
    margin: auto;
    padding: .9rem;
    /* border: .09rem solid rgb(57, 53, 53, .8); */
    border-radius: .8rem;
    background-color: #FDFCFC;
    /* box-shadow: .1rem .1rem rgb(57, 53, 53, .8); */
}
.service-card-icon {
    padding: .4rem;
    display: flex;
    justify-content: center;
}
.service-card {
    text-align: center;
}
.service-text {
    text-align: center;
    color: rgb(57, 53, 53);
    line-height: 2;
    font-family: 'open-sans';
}

.service-header {
    color: rgba(44, 44, 44, 0.932);
    font-family: oswald;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    /* text-decoration: underline; */
}

.services-card:hover .card-icon {
    color: rgba(255, 255, 255, 1);
    transition: color 2s ease-out;
}
.services-card:hover .card-icon {
    background-color: rgba(50, 50, 50, 0.99);
    transition: background-color 2s ease-in-out;
}
/* .services-card:hover {
    transform: scale(1.08, 1.08);
    
} */
.services:last-child {
    margin-bottom: .5rem;
}

@media(min-width: 35em) {
    .services {
        flex-direction: row;
    }
    .services-container {
        background: #ddddddda;
        padding: .6rem;
    }
    .service-card {
        border-bottom: .09rem solid black;
    }
}
.projects {
    /* background-color: grey; */
    padding: .8rem;
    height: 30rem;
    margin:auto;
    width: 90%;

}
.carousel {
    /* place navigation in the bottom center of the carousel  */
    position: relative;
}
.carousel-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30rem;
    padding: .3rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    color: whitesmoke;
}
.carousel-item-selected {
    display: block;
}
.carousel-nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    background-color: rgba(143, 140, 140, 0.397);
    /* bottom: 0;
    left: 0; */
    /* background: red; */
    text-align: center;

}
.carousel-btn {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.carousel-button-selected {
    background-color: rgba(255, 255, 255, 0.6);
}
.carousel-image {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s cubic-bezier(0.51, 0.26, 0.68, 1.24) .2s;
}
.transparent {
    opacity: 0;
}
.opaque {
    opacity:1;
}
